<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Contact us</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Contact us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-head">
                    <h3>Request a call back</h3>
                    <p>Interested in working with us drop us a line and we will contacting you as soon as possible. We usually respond within one working day.</p>
                    <div class="contact-icon">
                        <div class="contact-inner">
                            <h5>Location :</h5><a href="https://goo.gl/maps/UN95N3qu7sH2"><i class="fas fa-map"></i><span>7A, Commercial Building, 1st Floor, North of Children Park, S.K Puri, Boring Road Patna, PIN - 800001</span></a><a href="#"><i class="fas fa-phone"></i><span>+91 72773 13622 / 83404 90384</span></a><a href="#"><i class="fas fa-envelope"></i><span>info@duxtechnology.com / duxtechnology@gmail.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <div class="row">
                        <form action="" method="post">
                            <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" name="text-name" class="form-control" placeholder="Name" required /></div>
                            <div class="col-md-6 col-sm-6 col-xs-12"><input type="email" name="text-email" class="form-control" placeholder="Email" required /></div>
                            <div class="col-md-12 col-sm-12 col-xs-12"><input type="text" name="text-phone" class="form-control" placeholder="Phone" required /></div>
                            <div class="col-md-12 col-sm-12 col-xs-12"><input type="text" name="text-subject" class="form-control" placeholder="Subject" /></div>
                            <div class="col-md-12 col-sm-12 col-xs-12"><textarea name="text-msg" cols="40" rows="10" class="form-control" placeholder="Message"></textarea></div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center"><button type="submit" name="contact_us" class="contact-btn">Send</button>
                                <p><?php echo $response ?></p>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="google-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d28781.07205717368!2d85.10226707573243!3d25.617075259127674!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ed58250fd1d4eb%3A0x50a543d0527c7721!2sDUX+Technology!5e0!3m2!1sen!2sin!4v1528037275507" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
    </div>
</div>