<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Mobile Apps Development</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Mobile Apps Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-services-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-page">
                            <div class="page-img elec-page"><img src="../../../../assets/img/slider/mobile-apps.jpg" alt="Mobile Apps Development by DUX Technology"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well last-part"><a>
                                <h3>Mobile Apps Development</h3>
                            </a>
                            <p>Since last year, the mobile application has witnessed giant strides, and it has also changed the business functioning all across the globe. To continue the custom even more smoothly, DUX Technology - an advancing mobile apps development company in India, assist small business/startups to develop and instigate mobile apps.</p>
                            <p>With the help of our highly proficient developers, we have strengthened our expertise on IOS and Andriod mobile apps development and gradually emerging as a recognized mobile apps development company across the globe. Starting from mobile apps design to its development and services, we are getting acknowledgment everywhere.</p>
                            <p>Thousands of clients have received unprecedented results after getting our servie in mobile apps development.</p>
                            <p>So far we have launched many successful apps for startups and business companies which are very well appreciated.</p>
                            <p>Our Expertise:</p>
                            <p>&nbsp;</p>
                            <p>DUX Technology also offers services in other fields like <a routerLink="/service/software-development">software development</a>, <a routerLink="/service/seo-online-promotion">online promotion</a>, <a routerLink="/service/mobile-apps-development">mobile apps development</a>, <a routerLink="/service/bulk-sms">bulk SMS service</a> etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div class="page-head-left">
                    <div class="single-page-head">
                        <div class="left-menu">
                            <ul>
                                <li><a routerLink="/service/website-development">Website Development</a></li>
                                <li><a routerLink="/service/software-development">Software Development</a></li>
                                <li><a routerLink="/service/seo-online-promotion">SEO/Online Promotion</a></li>
                                <li><a routerLink="/service/graphics-logo-design">Graphics & Logo design</a></li>
                                <li><a routerLink="/service/domain-hosting">Domain & Hosting</a></li>
                                <li><a routerLink="/service/bulk-sms">Bulk SMS Service</a></li>
                                <li><a routerLink="/service/mobile-apps-development">Mobile Apps Development</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-page-head">
                        <h3>Request a Quote</h3>
                        <app-quote-form></app-quote-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>