<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3> Our Portfolio</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Portfolio</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-area area-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3><i class="far fa-heart"></i> <span class="color">Projects</span> <i class="far fa-heart"></i></h3>
                    <p>Our dev team opt in to the projects they genuinely want to work on, committing wholeheartedly to delivering.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="">

                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-2-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://nilanshuranjan.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Nilanshu Ranjan</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-1-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://enlightenacademy.co.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Enlighten Academy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-75-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://sccpatna.co.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Sri Computer Classes</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-73-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://asadindia.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Asad India</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-72-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://saudagarestate.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Saudagar Real Estate</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-71-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://sesabihar.org/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Sub-ordinate Engineers Association</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-70-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://splashhinteriors.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Splashh Interior Decorators</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-69-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://crossfitstudios.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Cross Fit Studios</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-68-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://justiceforsociety.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Justice for Society</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-67-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://vividacademyv2v.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Vivid Academy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-66-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://tiwarisarojtrusty.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Saroj Tiwari</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-64-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://sonawaticollegeofeducation.org/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Sonawati College</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-63-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://wingsofsuccess.co.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Wings of Success</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-62-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://nexgencareer.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>NEXGEN Career Consultancy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-61-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://suryamohinicharitabletrust.org/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Surya Mohini Charitable Trust</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-60-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://ssvassgje.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>SSVASS Gems &amp; Jewellery Exhibition</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-59-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://snnicekidsschool.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>S N Nice Kids Play School</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-58-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://basepatna.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Base Academy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-56-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://hariharsaidham.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Harihar Sai Dham</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-77-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://rajankrishiudyog.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Rajan Krishi Udyog</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-55-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://polytechnicclasses.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Polytechnic Classes</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-54-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://carzoneindia.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Carzone India</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-53-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://pitsindia.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Pratiksha Institute</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-52-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://matreyaedu.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Matreya Educational Trust</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-51-700x394.jpg" alt="Nilanshu Ranjan" /></a>
                            <div class="add-actions text-center"><a href="http://rntokhagaul.org/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Research &amp; Training Division</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h4>And Many More...</h4>
            </div>
        </div>
    </div>
</div>