<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>About us</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>About us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-page-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-content">
                    <p>Dux Technology was established with one clear-cut motive to provide the content in the easiest as well as a most effective way to the client. We have the vision to do business while keeping the client on the top stairs of atonement. In short, we can say that we know how to keep the client on the top in the matter of atonement. Our only precept is to give 24 x 7 unexceptional service supports. To say it clear, if you get discontent or stuck in something, you do not have to look at the clock, just pick the phone & contact us we are there to help you out.</p>
                    <div class="about-details text-center">
                        <div class="single-about">
                            <div class="icon-title"> <a><i class="icon icon-gift"></i></a>
                                <h5>Certified company</h5>
                            </div>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                        </div>
                        <div class="single-about">
                            <div class="icon-title"> <a><i class="icon icon-thumbs-up"></i></a>
                                <h5>Our experience</h5>
                            </div>
                            <p>The phrasal sequence of the Lorem Ipsum text is now so widespread</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-image"> <img src="../../assets/img/image-1.jpg" alt="About DUX Technology"> </div>
            </div>
        </div>
    </div>
</div>
<div class="about-page-area area-padding p_t__0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about-content">
                    <p><strong><em>At DUX Technology, we offer all our business partners/clients affordable web solutions though with a global appeal and that perfectly blends with the business ethics of clients, both locally as well as globally. We are among the leading names in the world of responsive website design and website development as it requires professional skills and technical expertise and we have got it all.</em></strong></p>
                    <p>Website design is a reasonable mix of an assortment of masterful and exploratory aptitudes. At DUX Technology we're occupied with making websites that not just fits in with your everyday business needs additionally bails you to get the most out of your entry. We see to it that your site is composed in a way that is outwardly engaging as well as embodies your transient and long haul business goals. We make a special effort to pay regard to your determinations and from that point build up the entryway as per your arrangement.</p>
                    <p>DUX Technology is a forefront Website Designing Company in Patna that has been outfitting bleeding edge Website advancement administrations since the most recent years. Being situated in Patna, the firm has been at the vanguard in taking into account the individual needs of a wide cross-area of customers situated in various nations and hailing from various business and mechanical portions. We at DUX Technology outfit you with a broad scope of online-arranged administrations including yet not restricted to page advancement arrangements like logo outlining, layouts for discussions and web journals, tweaked php programming, shopping basket improvement, e-business entryway advancement, and employment webpage planning.</p>
                    <p>As a Web Company, we exceed expectations in giving Website improvement and web showcasing administrations like third party referencing, PPC, online networking advertising, site improvement and web index promoting. We have an extremely well-sew andhighly proficient group of Website fashioners that can take into account the tweaked needs of an expansive scope of clients. When you endow your site outline and advancement administrations with us, you can be guaranteed that we'll finish the task completely all alone as opposed to outsourcing the same to an outsider.</p>
                    <p>Inferable from the stellar online administrations we have been giving to all our over a significant time span demographic, we've possessed the capacity to cut our specialty as a site planning association. When you make us your web improvement partner, you appreciate certain one of a kind points of interest. For example, you get a cornucopia of administrations at rates that are amazing. Throughout the years, we' amassed broad knowledge over the verging on whole scope of cutting edge programming, gathered experience in improvement stages, that have earned us all inclusive approval.</p>
                    <p>Our bespoke web plan and web advancement administrations are subscribed to by people and associations in India as well as from a few nations around the globe including USA, UK, Germany, Italy, and France etc.</p>
                    <p><em>A portion of the key angles that are thought about while creating and outlining an entrance that is cutting edge in each admiration are as per the following:-</em></p>
                    <ul class="check-list">
                        <li>Outwardly engaging and alluring that in a split second captures the consideration of the guest</li>
                        <li>To a great degree easy to use with regards to exploring starting with one segment then onto the next or starting with one page then onto the next</li>
                        <li>Site improvement and Web 2.0 Compliance</li>
                        <li>Industry-situated to relate to your day by day business needs</li>
                    </ul>
                    <p>Furthermore, we outfit web improvement administrations for corporate, people and SMEs.</p>
                    <p>Business/Corporate Website Designing</p>
                    <p>Your site is an augmentation of your business character and is a virtual representation of your business and administrations. A greater part of online guests and clients experience e-business sites. Besides, about 85% of such guests carefully check the organization profile or foundation before taking a definitive choice of giving a request of the association's items or administrations. Business people and business associations are progressively understanding that having an online nearness is basic for creating business from the Internet. Till date, we've made more than 4600 sites for corporate foundations, business people, and people who've vouchsafed about the predominance of the entryways.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area area-padding">
    <div class="test-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Clients <span class="color">say</span></h3>
                    <p>Our development opt in to the projects they genuinely want to work on, committing wholeheartedly to delivering.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Reviews-content">
                    <div class="testimonial-carousel item-indicator">

                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Vijay Kumar</h4><span class="guest-rev"><a>Founder - St. Teresa Model
                                            School</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology was very helpful promoting my school online. They created my
                                    website just according to my desire.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Er. A. Ratan</h4><span class="guest-rev"><a>Managing Director - Aryabhatta
                                            Technical Classes</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology helped me to grow my business when I was new to the market and
                                    they made my website at very affordable price.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Shailesh Mahajan</h4><span class="guest-rev"><a>Director - Mahajan
                                            Arts</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>One of the Website Development company in Patna. God bless you Dux Technology</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Dhanraj</h4><span class="guest-rev"><a>Director - Dhanraj Real
                                            Estate</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>I met DUX Technology in one of my colleague's meeting. I was so influenced by
                                    their way of representing their company, I could not stop myself from giving
                                    them my project and they really did it well.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Rajan Kumar</h4><span class="guest-rev"><a>Director - Sri Computer
                                            Classes</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology has done an awesome job developing my website. Their work nature
                                    is very smooth and their work is quite satisfying.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>K.M Agarwal</h4><span class="guest-rev"><a>Director - Matreya Educational
                                            Trust</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>They were so polite and well mannered towards their work. Their policy of
                                    "payment after work" is so genuine.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Sandhya Sinha</h4><span class="guest-rev"><a>Director - Surya Mohini
                                            Charitable Trust</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology is the one stop shop for globalizing your business...</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Navneet Kumar</h4><span class="guest-rev"><a>Director - Shri Sai
                                            Vatika</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>I thought of having a website which can represent my colorful work through events
                                    and DUX Technology proved it.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Mausam Sharma</h4><span class="guest-rev"><a>Director - Nrityangan Hobby
                                            Center</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>The commitment and dedication shown at the time of meeting were same when I got
                                    my website live. They stood still by their words.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Brajesh Mohan</h4><span class="guest-rev"><a>Chief Executive Engineer -
                                            Research &amp; Training Div.</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>It was a nice pleasure working with DUX Technology</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="brand-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="brand-items">
                    <div class="brand-carousel item-indicator">
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/1.png"></a></div>
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/2.png"></a></div>
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/3.png"></a></div>
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/4.png"></a></div>
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/5.png"></a></div>
                        <div class="single-brand-item"><a href="#"><img src="../../assets/img/client/6.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>