<!-- Start Slider Area -->
<div class="intro-area">
    <div class="main-overly"></div>
    <div class="intro-carousel">

        <div class="intro-content">
            <div class="slider-images"><img src="../assets/img/slider/Adobe-Spark-2.jpg" alt="Your one stop shop for IT needs"></div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
                                        <h1 class="title2">Your one stop shop for IT needs</h1>
                                    </div>
                                    <div class="layer-1-1 ">
                                        <p>DUX Technology provides services and all-around support for website
                                            development, online promotion, content marketing, software development,
                                            mobile apps development, etc.</p>
                                    </div>
                                    <div class="layer-1-3"><a href="#services" class="ready-btn left-btn">Our
                                            Services</a><a href="portfolio.php" class="ready-btn right-btn">Our
                                            Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content">
            <div class="slider-images"><img src="../assets/img/slider/Adobe-Spark-3-1.jpg" alt="Your one stop shop for IT needs"></div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
                                        <h1 class="title2">Software development at ease</h1>
                                    </div>
                                    <div class="layer-1-1 ">
                                        <p>DUX Technology provides software and web application with the latest
                                            technology. We keep user experience in mind to build you a better
                                            experience and functionality.</p>
                                    </div>
                                    <div class="layer-1-3"><a href="#services" class="ready-btn left-btn">Our
                                            Services</a><a href="portfolio.php" class="ready-btn right-btn">Our
                                            Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content">
            <div class="slider-images"><img src="../assets/img/slider/Adobe-Spark-4-2.jpg" alt="Your one stop shop for IT needs"></div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
                                        <h1 class="title2">Become a brand with DUX Technology</h1>
                                    </div>
                                    <div class="layer-1-1 ">
                                        <p>At DUX Technology, we don't just design graphics for colors and arts. We
                                            design them to engage more people in your business.</p>
                                    </div>
                                    <div class="layer-1-3"><a href="#services" class="ready-btn left-btn">Our
                                            Services</a><a href="portfolio.php" class="ready-btn right-btn">Our
                                            Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content">
            <div class="slider-images"><img src="../assets/img/slider/Adobe-Spark-5-1.jpg" alt="Your one stop shop for IT needs"></div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
                                        <h1 class="title2">Get on the top of the mountain with dux technology</h1>
                                    </div>
                                    <div class="layer-1-1 ">
                                        <p>With DUX Technology at your side, becoming a brand has never been so
                                            easy. We create highly curated contents just for you, to help you
                                            achieve the position where others dream of being.</p>
                                    </div>
                                    <div class="layer-1-3"><a href="#services" class="ready-btn left-btn">Our
                                            Services</a><a href="portfolio.php" class="ready-btn right-btn">Our
                                            Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-content">
            <div class="slider-images"><img src="../assets/img/slider/mobile-apps.jpg" alt="Your one stop shop for IT needs"></div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
                                        <h1 class="title2">Generate more revenue with mobile apps</h1>
                                    </div>
                                    <div class="layer-1-1 ">
                                        <p>Get your mobile apps developed as per your business from DUX Technology
                                            to generate more revenue and take your business to a whole new level.
                                        </p>
                                    </div>
                                    <div class="layer-1-3"><a href="#services" class="ready-btn left-btn">Our
                                            Services</a><a href="portfolio.php" class="ready-btn right-btn">Our
                                            Portfolio</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="welcome-area bg-color area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="well-services">
                    <div class="main-services">
                        <div class="service-content">
                            <h2 class="text-center">FIND YOUR PERFECT DOMAIN</h2>
                            <form action="#" method="post" class="domain_search__form"><input required type="text" class="domain_search__form___input" id="domain_search__form___input" placeholder="Enter domain name to search"><button class="domain_search__form___button" type="submit" id="domain_search__form___button"><i class="fas fa-arrow-circle-right"></i></button></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area area-padding" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Our <span class="color">Services</span></h3>
                    <p>
                        As our services are the only way to fly because it is a never-ending story <br>
                        And yes, it is better than chocolate <br><strong>Stay in Touch</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-all">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/website-development.php"><i class="fas fa-globe"></i></a>
                        <div class="service-content">
                            <h4><a href="service/website-development.php">Website Development</a></h4>
                            <p>DUX Technology is your one-stop shop for website development needs. We at DUX Technology have most promising and result oriented website designing / development services. Our bespoke websites truly stands out from the crowd and generated positive result for your business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/software-development.php"><i class="fas fa-laptop"></i></a>
                        <div class="service-content">
                            <h4><a href="service/software-development.php">Software Development</a></h4>
                            <p>DUX Technology is the best custom software development company. DUX Technology develops enterprise-grade web, mobile and software platforms for businesses. A software is a great combination of artistry and engineering. We excel in giving you the best to ease your work load to minimum.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/seo-online-promotion.php"><i class="fas fa-chart-line"></i></a>
                        <div class="service-content">
                            <h4><a href="service/seo-online-promotion.php">SEO/Online Promotion</a></h4>
                            <p>SEO (Search Engine Optimization) is used to influence the visibility of a website on search engines. SEO makes sure that a website is approachable by search engines and consumers. Our specialized SEO services helps you gain that top spot on Google search pages and more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/graphics-logo-design.php"><i class="fas fa-image"></i></a>
                        <div class="service-content">
                            <h4><a href="service/graphics-logo-design.php">Graphics & Logo design</a></h4>
                            <p>DUX Technology specializes in all types of Graphics &amp; Logo design service. Our designes not only pleases eyes of the viewers but also generated desired result. Contact us to know more.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/domain-hosting.php"><i class="fas fa-server"></i></a>
                        <div class="service-content">
                            <h4><a href="service/domain-hosting.php">Domain & Hosting</a></h4>
                            <p>DUX Technology is one of the top domain &amp; hosting provider organization in India. We are the main organization in India, which gives support in local dialects. Decisions are numerous for Domain Registration and Hosting. We make this task easy for you by providing customized solution for your organization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services"><a class="service-images" href="service/bulk-sms.php"><i class="fas fa-comments"></i></a>
                        <div class="service-content">
                            <h4><a href="service/bulk-sms.php">Bulk SMS Service</a></h4>
                            <p>DUX Technology provides Bulk SMS Service via which you can communicate with your customers in one click. Our bulk SMS route is the fastest and takes no time to deliver. Contact us to get the best quote for your requirement.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                    <div class="single-services"><a class="service-images" href="service/mobile-apps-development.php"><i class="fas fa-mobile"></i></a>
                        <div class="service-content">
                            <h4><a href="service/mobile-apps-development.php">Mobile Apps Development</a></h4>
                            <p>Since last year, the mobile application has witnessed giant strides, and it has also changed the business functioning all across the globe. DUX Technology offers their services in Mobile Apps development. We specialize in custom apps development, Android/IOS Apps development, Hybrid Apps development, Back end development and API development. Contact us to get the best quote.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-area area-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Project <span class="color">Highlights</span></h3>
                    <p>You've got a question, we've got our portfolio. <br>Think once, Think Twice, Think our portfolio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-carousel">

                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-1-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://enlightenacademy.co.in/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Enlighten Academy</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-73-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://asadindia.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Asad India</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-72-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://saudagarestate.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Saudagar Real Estate</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-69-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://crossfitstudios.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Cross Fit Studios</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-68-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://justiceforsociety.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Justice for Society</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href=""><img src="../assets/img/portfolio/Screenshot-56-700x394.jpg" alt="Enlighten Academy" /></a>
                            <div class="add-actions text-center"><a href="http://hariharsaidham.com/" target="_blank"><i class="port-icon fas fa-link"></i></a></div>
                        </div>
                        <div class="project-dec">
                            <h4>Harihar Sai Dham</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center"><a class="ready-btn left-btn" href="portfolio.php">View All</a></div>
        </div>
    </div>
</div>
<div class="quote-area area-padding">
    <div class="container ">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="row ">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="sub-head">
                            <h4>Request a <span class="color">Call back</span></h4>
                            <p>Interested in working with us drop us a line and we will contacting you as soon as possible. We usually respond within one working day.</p>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <form action="#" method="post">
                                <div class="col-md-6 col-sm-6 col-xs-12"><input required type="text" name="text-name" class="form-control" placeholder="Your Name" /><br><input required type="email" name="text-email" class="form-control" placeholder="Your Email" /><br><input required type="text" name="text-phone" class="form-control" placeholder="Your Phone" /></div>
                                <div class="col-md-6 col-sm-6 col-xs-12"><textarea required name="text-msg" rows="10" class="form-control message" placeholder="Message"></textarea><br /><button type="submit" name="request_call" class="quote-btn">Send</button>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                            <p><?php echo $response ?></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area area-padding">
    <div class="test-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Clients <span class="color">say</span></h3>
                    <p>Want to hear something interesting. Take a look at what our clients say about us.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Reviews-content">
                    <div class="testimonial-carousel item-indicator">

                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Vijay Kumar</h4><span class="guest-rev"><a>Founder - St. Teresa Model
                                            School</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology was very helpful promoting my school online. They created my
                                    website just according to my desire.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Er. A. Ratan</h4><span class="guest-rev"><a>Managing Director - Aryabhatta
                                            Technical Classes</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology helped me to grow my business when I was new to the market and
                                    they made my website at very affordable price.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Shailesh Mahajan</h4><span class="guest-rev"><a>Director - Mahajan
                                            Arts</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>One of the Website Development company in Patna. God bless you Dux Technology</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Dhanraj</h4><span class="guest-rev"><a>Director - Dhanraj Real
                                            Estate</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>I met DUX Technology in one of my colleague's meeting. I was so influenced by
                                    their way of representing their company, I could not stop myself from giving
                                    them my project and they really did it well.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Rajan Kumar</h4><span class="guest-rev"><a>Director - Sri Computer
                                            Classes</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology has done an awesome job developing my website. Their work nature
                                    is very smooth and their work is quite satisfying.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>K.M Agarwal</h4><span class="guest-rev"><a>Director - Matreya Educational
                                            Trust</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>They were so polite and well mannered towards their work. Their policy of
                                    "payment after work" is so genuine.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Sandhya Sinha</h4><span class="guest-rev"><a>Director - Surya Mohini
                                            Charitable Trust</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>DUX Technology is the one stop shop for globalizing your business...</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Navneet Kumar</h4><span class="guest-rev"><a>Director - Shri Sai
                                            Vatika</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>I thought of having a website which can represent my colorful work through events
                                    and DUX Technology proved it.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Mausam Sharma</h4><span class="guest-rev"><a>Director - Nrityangan Hobby
                                            Center</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>The commitment and dedication shown at the time of meeting were same when I got
                                    my website live. They stood still by their words.</p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <div class="texti-name">
                                    <h4>Brajesh Mohan</h4><span class="guest-rev"><a>Chief Executive Engineer -
                                            Research &amp; Training Div.</a></span>
                                </div>
                            </div>
                            <div class="client-rating"><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a><a><i class="fas fa-heart"></i></a></div>
                            <div class="testi-text">
                                <p>It was a nice pleasure working with DUX Technology</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="overview-area fix parallax-bg" data-stellar-background-ratio="0.6">
    <div class="container-full ">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="client-details">
                    <div class="client-head">
                        <h3>Our valuable client</h3>
                        <p>Our clients speaks highly of us.</p>
                    </div>
                    <div class="client-inner">
                        <div class="single-client"><a><img src="../assets/img/client/1.png" alt="R&T Division, Patna - DUX Technology valuable client"></a></div>
                        <div class="single-client"><a><img src="../assets/img/client/2.png" alt="Subordinate Engineers Association, Patna - DUX Technology valuable client"></a></div>
                        <div class="single-client"><a><img src="../assets/img/client/3.png" alt="Justice For Society - DUX Technology valuable client"></a></div>
                        <div class="single-client"><a><img src="../assets/img/client/4.png" alt="Asad India - DUX Technology valuable client"></a></div>
                        <div class="single-client"><a><img src="../assets/img/client/5.png" alt="Harihar Sai Dham - DUX Technology valuable client"></a></div>
                        <div class="single-client"><a><img src="../assets/img/client/6.png" alt="Saudagar Real Estate - DUX Technology valuable client"></a></div>
                    </div>
                    <div class="client-inner">
                        <h3>And Many More</h3>
                    </div>
                </div>
            </div>
            <div class="company-content col-md-6 col-sm-12 col-xs-12">
                <div class="">
                    <h3>Industries we help</h3><br>
                </div>
                <div class="main-view">
                    <div class="single-view"><a class="view-images"><i class="fas fa-shopping-cart"></i></a>
                        <div class="view-content">
                            <h4>Startups</h4>
                            <p><strong>A journey of a thousand miles must begin with a single step.</strong> And we are the one who helps you to take that first step.</p>
                        </div>
                    </div>
                </div>
                <div class="main-view">
                    <div class="single-view"><a class="view-images"><i class="fas fa-university"></i></a>
                        <div class="view-content">
                            <h4>Small Businesses</h4>
                            <p><strong>The biggest mistake a small business can make is to think like a small business.</strong> And with our help you won't feel small.</p>
                        </div>
                    </div>
                </div>
                <div class="main-view">
                    <div class="single-view"><a class="view-images"><i class="fas fa-chart-line"></i></a>
                        <div class="view-content">
                            <h4>Marketing</h4>
                            <p><strong>Everyone is not your customer.</strong> And we help you find the potential customers.</p>
                        </div>
                    </div>
                </div>
                <div class="main-view">
                    <div class="single-view"><a class="view-images"><i class="fas fa-user"></i></a>
                        <div class="view-content">
                            <h4>Govt. Agencies</h4>
                            <p><strong>The art of government is the organization of identity.</strong> With our e-governance system we ease their work thus helping people out.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>From<span class="color"> Facebook</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog-grid home-blog">
                <script src="https://assets.juicer.io/embed.js"></script>
                <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
                <ul class="juicer-feed" data-feed-id="duxtechno">
                    <p class="referral"><a href="https://www.juicer.io">Powered by Juicer</a></p>
                </ul>
            </div>
        </div>
    </div>
</div>