<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Graphics &#038; Logo design</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Graphics &#038; Logo design</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-services-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-page">
                            <div class="page-img elec-page"><img src="../../../../assets/img/slider/Adobe-Spark-4-2.jpg" alt="Graphics & Logo design by DUX Technology"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well last-part"><a>
                                <h3>Graphics & Logo design</h3>
                            </a>
                            <p>DUX Technology specializes in all types of Graphics &amp; Logo design service. Contact Us for best quote.</p>
                            <p>&nbsp;</p>
                            <p>DUX Technology also offers services in other fields like <a routerLink="/service/software-development">software development</a>, <a routerLink="/service/seo-online-promotion">online promotion</a>, <a routerLink="/service/mobile-apps-development">mobile apps development</a>, <a routerLink="/service/bulk-sms">bulk SMS service</a> etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div class="page-head-left">
                    <div class="single-page-head">
                        <div class="left-menu">
                            <ul>
                                <li><a routerLink="/service/website-development">Website Development</a></li>
                                <li><a routerLink="/service/software-development">Software Development</a></li>
                                <li><a routerLink="/service/seo-online-promotion">SEO/Online Promotion</a></li>
                                <li><a routerLink="/service/graphics-logo-design">Graphics & Logo design</a></li>
                                <li><a routerLink="/service/domain-hosting">Domain & Hosting</a></li>
                                <li><a routerLink="/service/bulk-sms">Bulk SMS Service</a></li>
                                <li><a routerLink="/service/mobile-apps-development">Mobile Apps Development</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-page-head">
                        <h3>Request a Quote</h3>
                        <app-quote-form></app-quote-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>