<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Website Development</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Website Development</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-services-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-page">
                            <div class="page-img elec-page"><img src="../../../../assets/img/slider/Adobe-Spark-2.jpg" alt="Website Development by DUX Technology"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well last-part"><a>
                                <h3>Website Development</h3>
                            </a>
                            <p>DUX Technology is your one-stop shop for website development needs.</p>
                            <p>Today, when the internet is flooded with multitudinous websites and all are emerging with the promise of upgrading your organization, we at DUX Technology has come up with certain features which make us stand out of the crowd and will definitely lessen your effort to choose the best for your business.</p>
                            <p>Being a client you would always want a website which is easy to scrutinize, as well as a platform which can provide you with the best suitable pan access to all your problems.</p>
                            <p>DUX Technology is one such organization which will for sure serve you with the supreme commitment to your website development needs.</p>
                            <p><strong>HIGHLIGHTS:</strong></p>
                            <ol>
                                <li>Provide you with grade 1 inference for your website development.</li>
                                <li>The website developed by us is easy to understand with the professional approach.</li>
                                <li>Best collaborative and a benevolent relation between the clients and our staffs.</li>
                                <li>DUX Technology gives you the most appropriate solution by high level explicating the customers objective.</li>
                                <li>DUX Technology offers great communication with active clients participation in a centralized position.</li>
                                <li>High proficient project supervisor to handle every website development project explicitly.</li>
                                <li>Last but not the least satisfied customers who are profoundly content to work with us.</li>
                            </ol>
                            <p>We have delineated and designed 100+ sites over the globe. All of our online websites are resolute, which helps us to attain the consumers objective.</p>
                            <p>DUX Technology also offers services in other fields like <a routerLink="/service/software-development">software development</a>, <a routerLink="/service/seo-online-promotion">online promotion</a>, <a routerLink="/service/mobile-apps-development">mobile apps development</a>, <a routerLink="/service/bulk-sms">bulk SMS service</a> etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-pull-9">
                <div class="page-head-left">
                    <div class="single-page-head">
                        <div class="left-menu">
                            <ul>
                                <li><a routerLink="/service/website-development">Website Development</a></li>
                                <li><a routerLink="/service/software-development">Software Development</a></li>
                                <li><a routerLink="/service/seo-online-promotion">SEO/Online Promotion</a></li>
                                <li><a routerLink="/service/graphics-logo-design">Graphics & Logo design</a></li>
                                <li><a routerLink="/service/domain-hosting">Domain & Hosting</a></li>
                                <li><a routerLink="/service/bulk-sms">Bulk SMS Service</a></li>
                                <li><a routerLink="/service/mobile-apps-development">Mobile Apps Development</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-page-head">
                        <h3>Request a Quote</h3>
                        <app-quote-form></app-quote-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>