<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb text-center">
                    <div class="section-headline white-headline text-center">
                        <h3>Get a Quote</h3>
                    </div>
                    <ul>
                        <li class="home-bread">Home</li>
                        <li>Get a Quote</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-services-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="single-well last-part main_content__page">
                            <div class="contact-form">
                                <form action="" method="post">
                                    <div class="col-md-6 col-sm-6 col-xs-12"><input type="text" name="text-name" class="form-control" placeholder="Name" required /></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12"><input type="email" name="text-email" class="form-control" placeholder="Email" required /></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12"><input type="text" name="text-phone" class="form-control" placeholder="Phone" required /></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12"><label>Services Interested In</label><br /><span><label><input type="checkbox" name="checkbox-699[]" value="Website Development" /><span>Website Development</span></label> <br><label><input type="checkbox" name="checkbox-699[]" value="Software Development" /><span>Software Development</span></label> <br><label><input type="checkbox" name="checkbox-699[]" value="Mobile Apps Development" /><span>Mobile Apps Development</span></label> <br><label><input type="checkbox" name="checkbox-699[]" value="SEO/Online Promotion" /><span>SEO/Online Promotion</span></label> <br><label><input type="checkbox" name="checkbox-699[]" value="Graphics Designing" /><span>Graphics Designing</span></label> <br></span></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12"><textarea name="text-msg" rows="10" class="form-control" placeholder="Message"></textarea></div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"><button type="submit" name="get_a_quote" class="contact-btn">SEND</button>
                                        <p><?php echo $response ?></p>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>